<configuration debug="true">
    <conversionRule conversionWord="highlightex" converterClass="com.jazzkuh.m0nitor.utils.logging.CustomLoggerColorHighlighter"/>
    <conversionRule conversionWord="colorprefix" converterClass="com.jazzkuh.m0nitor.utils.logging.ColorPrefixConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%colorprefix%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_BUFFER" class="com.jazzkuh.m0nitor.utils.logging.LogAppender"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_BUFFER" />
    </root>
</configuration>